<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtzum8oQUothmo5UAfPkqWwjLCKt2A-i0</string>
	<key>GCM_SENDER_ID</key>
	<string>28211538128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anglaraTechTask</string>
	<key>PROJECT_ID</key>
	<string>anglara-tech-task</string>
	<key>STORAGE_BUCKET</key>
	<string>anglara-tech-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28211538128:ios:bf8112d00a505b3b4e96d5</string>
</dict>
</plist>